<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declare the use of the FOREGROUND_SERVICE permission.
         This permission is required for apps that want to use services running in the foreground.
         It's necessary for Android versions 9 (API level 28) and above. This permission ensures
         that the app can start a foreground service which shows a persistent notification,
         keeping the app alive in the background under various system conditions. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Declare the use of the FOREGROUND_SERVICE_MEDIA_PLAYBACK permission.
         This permission is required for foreground services related to media playback
         on Android 14 (API level 33) and above. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Declare the use of the POST_NOTIFICATIONS permission.
         This permission is used for requesting notification-related permissions on Android devices. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BronnBakesTimer"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BronnBakesTimer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register the TimerService class as a service.
             This tells the Android system that the app contains a service (background task)
             that can perform long-running operations outside the user interface. -->
        <service android:name=".TimerService"
                 android:foregroundServiceType="mediaPlayback"
                 android:exported="false"/>

        <profileable android:shell="true" />

    </application>

</manifest>
